#codenames {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #313131;
    font-family: Arial, sans-serif;
}

#Setup {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#SetupForm-seed {
    box-sizing: border-box;
    width: 100%;
    padding: .2em;
    font-size: 1.2em;
}

#SetupForm-player {
    padding-left: 0;
    list-style: none;
}

.SetupFormInputRadio {
    margin-top: .5em;
}

#SetupForm-button-submit {
    margin-top: 2em;
    padding: 5px 10px;
}

#Board {
  font-weight: 600;
  width: 100%;
  height: 100%;
  font-size: .75em;
  background-color: lightgray;
}

@media (min-width: 720px) {
    #Board {
        font-size: 2em;
    }
}

.Name {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 19%;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: white;
}

/* columns */
.Name:nth-child(5n + 1) {
    left: .5%;
}

.Name:nth-child(5n + 2) {
    left: 20.5%;
}

.Name:nth-child(5n + 3) {
    left: 40.5%;
}

.Name:nth-child(5n + 4) {
    left: 60.5%;
}

.Name:nth-child(5n + 5) {
    left: 80.5%;
}

/* rows */
.Name:nth-child(-n + 5) {
    top: .5%;
}

.Name:nth-child(n+6):nth-child(-n+10) {
    top: 20.5%;
}

.Name:nth-child(n+11):nth-child(-n+15) {
    top: 40.5%;
}

.Name:nth-child(n+16):nth-child(-n+20) {
    top: 60.5%;
}

.Name:nth-child(n+21) {
    top: 80.5%;
}

.secondary {
    font-size: .5em;
    transform-origin: center center;
    transform: rotateZ(180deg);
    color: lightgray;
}

.spymaster .secondary {
    display: none;
}

.blue {
  background-color: #81dafc;
}

.red {
  background-color: #ff5656;
}

.gray {
  background-color: #c1c1c1;
}

.black {
  background-color: #1c1c1c;
  color: white;
}
