<div class="{{ className }}" on:click="onNameClick(name.value)">
    <div class="secondary">{{ name.value }}</div>
    <div>{{ name.value }}</div>
</div>



<script>

import store from 'redux-store';
import constants from 'codenames-constants';


export default {
    computed: {
        className: (name, player) => {
            return 'Name ' + (player === constants.players.SPYMASTER || name.isRevealed ? name.color : '');
        }
    },
    methods: {
        onNameClick(nameValue) {
            store.dispatch({
                type: constants.actionTypes.REVEAL_NAME,
                value: nameValue
            });
        }
    }
}

</script>



<style>

.Name {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 19%;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    background-color: white;
}

/* columns */
.Name:nth-child(5n + 1) {
    left: .5%;
}

.Name:nth-child(5n + 2) {
    left: 20.5%;
}

.Name:nth-child(5n + 3) {
    left: 40.5%;
}

.Name:nth-child(5n + 4) {
    left: 60.5%;
}

.Name:nth-child(5n + 5) {
    left: 80.5%;
}

/* rows */
.Name:nth-child(-n + 5) {
    top: .5%;
}

.Name:nth-child(n+6):nth-child(-n+10) {
    top: 20.5%;
}

.Name:nth-child(n+11):nth-child(-n+15) {
    top: 40.5%;
}

.Name:nth-child(n+16):nth-child(-n+20) {
    top: 60.5%;
}

.Name:nth-child(n+21) {
    top: 80.5%;
}

.secondary {
    font-size: .5em;
    transform-origin: center center;
    transform: rotateZ(180deg);
    color: lightgray;
}

.spymaster .secondary {
    display: none;
}

.blue {
  background-color: #81dafc;
}

.red {
  background-color: #ff5656;
}

.gray {
  background-color: #c1c1c1;
}

.black {
  background-color: #1c1c1c;
  color: white;
}

</style>
